.contact-info{
    background-color: #f6f6f6;
    padding: 100px 0;

}
.contact-list{
    padding: 10px 0;

}
.contact-top {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgb(0 0 0/7%);
    margin: 25px 0;
    padding: 25px;
    width: 100%;

}
.contact-item{
    align-items: center;
    box-shadow: 0 1px 0 0 #f1f1f1;
    display: flex;
    justify-content: space-between;

}
.contact-to{
    text-decoration: none;
    color: black;
}
.contact-middle, .contact-bottom{
padding: 25px;
background-color: #fff;
}
.contact-bottom{
    margin: 20px 0;
}
 .contact-lists{
    padding: 10px 0;
 }
 .contact-texts{
    padding-top: 10px;
 }
 .contact-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .contact-bottom a{
    text-decoration: none;
 }